<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxcf.analysis.mapper.pre.AppBubbleMapper">
    <resultMap id="BaseResultMap" type="com.hxcf.analysis.model.pre.AppBubble">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="page" jdbcType="VARCHAR" property="page"/>
        <result column="pos" jdbcType="VARCHAR" property="pos"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="context" jdbcType="VARCHAR" property="context"/>
        <result column="old_context" jdbcType="VARCHAR" property="oldContext"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, code, page, pos, title, context, old_context, version, create_user, create_time, 
    update_user, update_time
  </sql>
</mapper>